{% extends 'base.html.twig' %}
{% block welkom %}


<div class="text">
    <h4 class="text-center display-4">Welkom!</h4> <br>
    <p class="text-center ml-5 mr-5">We willen dat je snel je weg vindt in de club, zodat je sporten leuk vindt en
        volhoudt. We helpen daarom iedereen die begint met sporten aan de hand van ons Fit Start
        introductieprogramma en onze professionele begeleiding op de vloer.</p>
</div>
{% endblock %}