{% extends 'base.html.twig' %}

{% block gedragsregels %}
    <h3>De gedragsregels van Training Factory</h3>
    <p>Het is ons streven om alle Training Factory leden op een optimale wijze gebruik te kunnen laten maken van de beschikbare
        faciliteiten. Daarom heeft Training Factory, grotendeels op herhaaldelijk verzoek van de clubleden, een aantal
        huisregels opgesteld. Wij verzoeken je vriendelijk onze regels te lezen en na te leven.</p>
    <br>

    <h4>Bij het betreden van de club ga je akkoord met de huisregels van de Training Factory.</h4>
    <br>
    <li>De aanwijzingen van het personeel dienen strikt opgevolgd te worden</li>
    <li>Dranken mogen alleen in een afgesloten fles/bidon meegenomen worden in de sportruimten</li>
    <li>Roken en het gebruik en/of verspreiden van verboden middelen is ten strengste verboden</li>
    <li>Etenswaren zijn niet toegestaan in de sportruimten</li>
    <li>Gebruik van een mobiele telefoon om te bellen is niet toegestaan in de sportruimten</li>
    <li>Dieren zijn niet toegestaan</li>
    <li>Verkoop- en/of promotieactiviteiten zijn niet toegestaan zonder toestemming van Training Factory</li>
    <li>Jassen en tassen zijn niet toegestaan in de sportruimten</li>
    <li>Kinderen onder de 12 jaar zijn niet toegestaan in de sportruimten</li>
    <li>Wij raden u aan om voor het opbergen van uw eigendommen gebruik te maken van de lockers</li>
    <li>Gelieve na het sporten geen eigendommen achter te laten in de lockers, daar deze dagelijks worden gecontroleerd
        en opengemaakt
    </li>
    <li>Het gebruik van een handdoek tijdens de training is verplicht</li>
    <li>Het is verplicht schone en gepaste (geen slippers of sandalen) sportschoenen en gepaste sportkledij te dragen
    </li>
    <li>Gebruik apparatuur alleen voor de daarvoor bestemde doeleinden</li>
    <li>Het is verplicht om de apparatuur na gebruik te reinigen</li>
    <li>Na training alle materialen terugleggen op de daarvoor bestemde plaatsen</li>
    <li>Het is niet toegestaan machines onnodig bezet te houden</li>
    <li>In verband met hygiëne is het dragen van (bad)kleding niet toegestaan in de natte gedeelten van de kleedkamers
    </li>
    <li>In verband met hygiëne is het niet toegestaan zich te scheren in de kleedkamers</li>
    <li>Gelieve af te drogen in het natte gedeelte van de kleedkamer</li>
    <li>Verbaal en/of lichamelijk geweld wordt niet getolereerd</li>
{% endblock %}